apiVersion: v1
kind: Service
metadata:
  name: node
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: node
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  type: ClusterIP
  ports:
  - port: 5432
    protocol: TCP
  selector:
    app: postgres
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        env:
        - name: POSTGRES_PASSWORD
          value: secret
        image: postgres:18.1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5432
          protocol: TCP
      restartPolicy: Always
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: node
spec:
  podManagementPolicy: Parallel
  replicas: 3
  serviceName: node
  selector:
    matchLabels:
      app: node
  template:
    metadata:
      labels:
        app: node
    spec:
      containers:
      - name: node
        image: mstoer/cluster-storage-demo:1.1.0
        imagePullPolicy: Always
        env:
        - name: MY_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: TOTAL_NODE_COUNT
          value: "3"
        - name: DATASOURCES_DEFAULT_PASSWORD
          value: secret
        - name: DATASOURCES_DEFAULT_URL
          value: jdbc:postgresql://postgres/es-cluster-demo
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
